@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  color: white;
  font-family: 'Lora', serif;
  margin: 0;
}